@model backend.Models.Entities.Package

@{
    ViewData["Title"] = "Xác nhận xóa";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc chắn muốn xóa gói khám này?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Mô tả</dt>
        <dd class = "col-sm-10">@Model.Description</dd>
        <dt class = "col-sm-2">Giá</dt>
        <dd class = "col-sm-10">@Model.Price.ToString("N0") đ</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa vĩnh viễn" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>